<a href="/"><button type="button">Voltar</button></a>

<h1>Lista de usu치rios:</h1>

{{#each users}}
<div>
    <h2>Usu치rio: {{username}}</h2>
    <h3>Email: {{email}}</h3>
    <a href="userlist/edit:{{_id}}"><button type="button">Editar usu치rio</button></a>
    <form action="userlist/delete" method="post">
        <input type="hidden" name="id" value="{{_id}}">
        <input type="submit" value="Deletar">
    </form>
    <hr>
</div>
{{else}}
<h2>Nenhum usu치rio registrado</h2>
{{/each}}